.createOrderContainer {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-basis: 100%;
}

.createOrderForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 60%;
  background: hsla(0, 0%, 100%, 0.07);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.createOrderFormTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.resetOrder {
  background: none;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  font-size: 0.875rem;
  color: hsla(0, 0%, 100%, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.createOrderContainerTitle {
  font-weight: 500;
}

.createFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-bottom: 1.5rem;
}

.createOrderFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.createOrderFormLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: hsla(0, 0%, 100%, 0.8);
}

.createOrderForm input,
.createOrderForm select {
  padding: 0.5rem 1rem;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 0.5rem;
  background: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 1rem;
  height: 2.5rem;
}

.createOrderForm select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 0.5rem 1rem;
  background-image: url('/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 1rem;
}

.error {
  color: hsl(0, 92%, 64%);
  font-size: 0.8125rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.addAnotherItem {
  margin-block: 1rem;
  background: none;
  border: none;
  font-weight: 500;
  color: hsla(199, 93%, 43%, 0.9);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemContainer {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-bottom: 1rem;
}

.createOrderSummary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 40%;
  background: hsla(0, 0%, 100%, 0.07);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.orderSummaryCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 100%, 0.05);
}

.orderSummaryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.orderSummaryItem p {
  color: hsla(0, 0%, 100%, 0.5);
}

.orderSummaryItem h3 {
  font-weight: 500;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.8);
}

.orderSummaryItem:last-child {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-top: 1rem;
}

.orderSummaryItem:last-child p {
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.8);
}

.orderSummaryItem:last-child h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 1);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.createOrderButton {
  width: 100%;
  border: none;
  background: hsla(203, 92%, 34%, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
  font-size: 1rem;
}

.removeButton {
  background: none;
  border: none;
  color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
}

.deleteOrderButton {
  border: none;
  background: none;
  font-size: 0.875rem;
  color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
}

.cancelOrderButton {
  font-size: 0.875rem;
  color: hsla(0, 0%, 100%, 0.8);
}

/* hacks to prevent the date picker from jumping around */
.datePicker input {
  width: 100%;
}

.datePickerLabel {
  position: relative;
  gap: 0;
}

.datePickerLabel span {
  margin-bottom: 8px;
}

.datePickerError {
  margin-top: 8px;
}
